package %package%;

import %InputClassFQN%;
import %OutputClassFQN%;

public class %TaskClass% {
	int INF = 1 << 31 - 1;
    public void solve(int testNumber, %InputClass% in, %OutputClass% out) {
    }
}
