package %package%;

import %InputClassFQN%;
import %OutputClassFQN%;
import helperClasses.ShortScanner;
import helperClasses.Util;

public class %TaskClass% {
    int inf = Integer.MAX_VALUE;

    public void solve(int testNumber, %InputClass% input, %OutputClass% out) {
        ShortScanner in = new ShortScanner(input);

    }
}
